{% extends 'base.html' %}
{% block title %}Add Goat{% endblock %}
{% block content %}
<div class="row">
	<div class="col">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/dashboard" style="">Dashboard</a></li>
				<li class="breadcrumb-item"><a href="/goat/">Manage Goat</a></li>
				<li class="breadcrumb-item active" aria-current="page">New Goat</li>
			</ol>
		</nav>
	</div>
</div>

<div class="row px-3 px-md-5 mt-3">
	<div class="col">
		<div class="card">
			<div class="card-header">
				<div class="d-inline-block bg-light py-2"><i class="fa fa-list d-inline-block"></i><span class="card-title">&emsp;Goat Management</span></div>
				<a href="{%url 'core:new_goat'%}" class="float-right nav-link d-inline-block text-success"><i class="fa fa-plus"></i>&emsp;Add Livestock</a>
			</div>

			<div class="card-body">
				<div class="row table-responsive table-responsive-sm text-nowrap mt-5 px-2">
					<div class="col">
						<table id="example" class="table table-striped">
							<thead>
								<th>Eartag ID</th>
								<th>Eartag Color</th>
								<th>Nickname</th>
								<th>Birth Date</th>
								<th>Gender</th>
								<th>Body Color</th>
								<th>Status</th>
								<th>Category</th>
								<th>Action</th>
							</thead>
							<tbody>
							{% if goat_rec %}

							{% for gc in goat_rec %}
							<tr>
								<td>{{gc.eartag_id}}</td>
								<td>{{gc.eartag_color|title}}</td>
								<td>{{gc.nickname|title}}</td>
								<td>{{gc.birth_date}}</td>
								<td>{{gc.gender|title}}</td>
								<td>{{gc.body_color|title}}</td>
								<td>{{gc.status|title}}</td>
								<td>{{gc.category|title}}</td>
								<td class="btn-group">

									<a href="/goat/{{ gc.eartag_id}}/show" class="btn btn-info btn-sm">
										<i class="fa fa-eye"></i>
									</a>
									<a href="/goat/{{ gc.eartag_id}}/edit" class="btn btn-primary btn-sm">
										<i class="fa fa-pencil"></i>
									</a>
									<a href="/goat/{{ gc.eartag_id}}/edit" class="btn btn-warning btn-sm">
										<i class="fa fa-toggle-off"></i>
									</a>
								</td>
							</tr>
							{% endfor %}
							{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}