{% extends 'base.html' %}
{% block title %}Add Goat{% endblock %}
{% block content %}
	<div class="row">
		<div class="col">
			<div class="container-fluid">
				<div class="row mt-5">
					<div class="col">
						<h4>Animal Details: 246153</h4>
						<span>Doe</span>
					</div>
				</div>

				<div class="row pt-5">
					<div class="col-12 col-lg-6">
						<div class="card">
							<div class="card-bg card-header">
								<span class="font-weight-bold">Basic Info</span>
							</div>
							<div class="card-body px-0">
								<table class="table table-borderless">
									<tr>
										<th scope="row">Eartag</th>
										<td class="text-right">
											<i class="fa fa-male"></i>
											<span class="badge text-white bg-warning">246153</span>
										</td>
									</tr>

									<tr>
										<th scope="row">Nickname</th>
										<td class="text-right">
											Brownie
										</td>
									</tr>

									<tr>
										<th scope="row">Date of Birth</th>
										<td class="text-right">2019-03-15</td>
									</tr>

									<tr>
										<th scope="row">Body Color</th>
										<td class="text-right">Brown</td>
									</tr>								

									<tr>
										<th scope="row">Is Castrated?</th>
										<td class="text-right">No</td>
									</tr>


									<tr>
										<th scope="row">Status</th>
										<td class="text-right">Active</td>
									</tr>									
								</table>
							</div>
						</div>
					</div>
					<!--div class="col-12 col-lg-4 py-2 py-lg-0">
						<div class="card-bg card-header">
							<span class="font-weight-bold">Purchase Info</span>
						</div>
						<div class="card-body">

						</div>
					</div-->
					<div class="col-12 col-lg-6 py-2 py-lg-0">
						<div class="card">
							<div class="card-bg card-header">
								<span class="font-weight-bold">Breed Info</span>
							</div>
							<div class="card-body px-0">
								<table class="table table-borderless">
									<tr>
										<th scope="row">Birth Weight</th>
										<td class="text-right">
											1
										</td>
									</tr>

									<tr>
										<th scope="row">Sire</th>
										<td class="text-right">
											2
										</td>
									</tr>

									<tr>
										<th scope="row">Dam</th>
										<td class="text-right">
											3
										</td>
									</tr>
								</table>
							</div>
							<div class="card-footer text-muted px-0 bg-transparent border-0">
								<div class="container-fluid">
									<div class="row">
										<div class="col">
											<section class="btn-group w-100">
												<a href="" class="btn nav-link w-50">
													<i class="fa fa-arrow-left"></i>&emsp;Back
												</a>
												<a href="" class="btn nav-link w-50">
													<i class="fa fa-pencil"></i>&emsp;Edit
												</a>
											</section>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>

				<div class="row py-3 mt-2 mb-5">
					<div class="col">
						<div class="card">
							<div class="card-header bg-gray-t9">
								<i class="fa fa-tags"></i>&emsp;Health Record
							</div>
							<div class="card-body px-3 table-responsive table-responsive-sm text-nowrap">
								<table class="table table-striped">
									<thead class="table-dark text-center">
										<tr>
											<th>
												Check-Up Type
											</th>
											<th>
												Date Perform
											</th>
											<th>
												Prescription
											</th>
											<th>
												Quantity
											</th>
											<th>Perform By</th>
											<th>
												Remarks
											</th>

										</tr>
									</thead>
								</table>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}